/*CSS reset settings here*/
*{
 /*outline: thin dotted red;*/
}

#wrapper{
 width: 1000px;
}

#pokeHeader{
	display: block;
}

#emptyPokedex{
	height: 500px;
	border: thick solid red;
	display: block;
	margin-top: 15px;
}

h2{
	text-align: center;
}

ul{
	margin: 0px;
}

#submitbut{
	background-color: gray
	border: thin solid black;
	width: 75px;
	box-shadow: 2px 2px gray;
}








