<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pokemon</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript" src="/js/pokemon.js"></script>
</head>

<body>
    <div id="wrapper">
        <div id="pokeHeader">
            <h1>Pokemon App</h1><br>
        </div>
        <div id="formPokedex">
            <form align="left">
                <label>Which Pokemon do you want to know about?</label>
                <input type="text" list="languages">
                    <datalist id="languages">
                    </datalist>
                <input id="submitbut" type="submit" value="Submit">
            </form>
        </div>
        <div id="emptyPokedex">
        </div>
    </div>
</body>

</html>