<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pokemon</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript" src="/js/pokemon.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div id="wrapper">
        <div id="pokeHeader">
            <h1>Pokemon Lookup</h1><br>
        </div>
        <div id="formPokedex">
                <label>Which Pokemon do you want to know about?</label>
                <input type="text" list="searchOptions" id="searchInput">
                    <datalist id="searchOptions">
                    </datalist>
        </div>
        <div id="pokemonWrapper">
            <div id="emptyPokedex">
            </div>
        </div>
    </div>
</body>

</html>